@charset "utf-8";

@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Black.woff") format("woff");
    font-weight: 900;
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Light.woff") format("woff");
    font-weight: 200;
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Thin.woff") format("woff");
    font-weight: 100;
}
@font-face {
    font-family: "notosanskr";
    src: url("../font/NotoSansKR-Black.woff") format("woff");
    font-weight: 900;
}
@font-face {
    font-family: "notosanskr";
    src: url("../font/NotoSansKR-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "notosanskr";
    src: url("../font/NotoSansKR-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "notosanskr";
    src: url("../font/NotoSansKR-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "notosanskr";
    src: url("../font/NotoSansKR-Light.woff") format("woff");
    font-weight: 200;
}
@font-face {
    font-family: "notosanskr";
    src: url("../font/NotoSansKR-Thin.woff") format("woff");
    font-weight: 100;
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "roboto","notosanskr", sans-serif;
    width: 100%;
    background-color: #fff;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    line-height: 0;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
/* header */
#header{
    border: 0px solid red;
    width: 100%;
    background-color: #fff;
    height: 126px;
}
.header{
    border: 0px solid red;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
    position: relative;/*kr,en때문에 만든것*/
}
.logo{
    float: left;
}
.logo a{
    border: 0px solid red;
    width: 135px;
    height: 65px;
    background-image: url(../image/logo.png);
    display: block;
    background-repeat: no-repeat;
}
.gnb{
    float: left;
}
.gnb>ul{
    margin: 35px 50px 0 50px;
    padding: 0;
}
.gnb>ul>li{
    float: left;
    text-transform: uppercase;
    padding: 0 35px;
    color: #444;
    font-family: "roboto";
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.03rem;
    position: relative;
}
.header-btn{
    float: right;
    color: white;
    width: 136px;
    height: 33px;
    text-align: center;
    background-color: #00a5b1;
    border-radius: 16.5px;
    margin-top: 27px;
    line-height: 2rem;/*내맘*/
}
.header-lang{
    position: absolute; /*.header에 relative함 */
    right: 15px;
    font-size: 12px;
}
.header-lang a{
    color: #444444;
}
.header-lang a:last-child{
    color: #707070;
}
.header-lang a:last-child:before{
    content: "|";
    font-size: 1rem;
    margin-right: 5px;
}
/* header고정 */
.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 126px;
    z-index: 900;
}
/* sub-menu */
.sub-menu{
    width: 100%;
    height: 180px;
    text-align: center;
    display: none;
    z-index: 2;
    position: absolute;
    padding-top: 70px;
    padding-bottom: 10px;
    cursor: pointer;
    left: 0;
}
.sub-menu>li{
    font-size: 0.7rem;
    line-height: 1.6rem;
}
.menu-bg::after{
    content: '';
    width: 100%;
    height: 230px;
    background-color: rgba(255, 255, 255,0.8);
    position: absolute;
    top: 126px;    
    left: 0;
    clear: both;
    z-index: 1;
}
.gnb>ul>li:hover{
    color: #3a466a; 
}
.sub-menu>li:hover{
    text-decoration: underline;
    font-weight: 800;
}
/* main */
main{
    width: 100%;
    height: 730px;
    overflow: hidden; 
}
.slide{
    width: 100%;
    height: 730px;
    position: relative;
}
.img-panel{
    height: 730px;
    width: 400%; /*바디에 100%를 주어주는 바람에 float left를 하려면 가로길이를 400%는 해야 옆으로 붙음*/
}
.img-panel>li{
    float: left;
    height: 730px;
    border: 0px solid red;
    width: 25%;
}
.img-panel>li>img{
    width: 100%;
    height: 730px;
    object-fit: cover;
}
.img-indi{
    position: absolute;
    bottom: 67px;
    left: 50%;
    transform: translateX(-50%);
}
.img-indi>li{
    width: 5px;
    height: 5px;
    background-color: #b7b7b7;
    border-radius: 2.5px;
    float: left;
    margin: 0 10px;
    cursor: pointer;
}   
.img-indi>li.indi-on{
    width: 85px;
    height: 5px;
    background-color: #b7b7b7;
    border-radius: 2.5px; 
    transition: all 0.5s linear;
}

/* section1 */
#cont1{
    width: 1200px;
    margin: 70px auto;
    border: 0px solid red;
}
#cont1 h1{
    line-height: 4rem;
    font-size: 22px;
    font-weight: 500;
    color: #3a466a;
}
.cont1-left{
    width: 930px;
    height: 955px;
    border: 0px solid rgb(60, 255, 0);
    float: left;
    position: relative;
}
.cont1-left>ul>li{
    width: 260px;
    height: auto;
    margin: 0 50px 40px 0;
    border: 0px solid cyan;
    position: absolute;
}
.cont1-left-text{
    height: 100px;
    padding: 17px 0 20px 0;
    box-sizing: border-box;
}
.cont1-left-text h5{
    color: #888;
    font-weight: 500;
    font-size: 0.75rem; /*0.75rem=12px*/
    margin-bottom: 10px;
}
.cont1-left-text h4{
    color: #222;
    font-weight: 500;
    font-size: 0.875rem; /*14px*/
    position: relative;
    padding-left: 18px;
    letter-spacing: -0.05rem;
}
.cont1-left-text h4::before{
    content: '';
    width: 12px;
    height: 2px;
    background-color: #3a466a;
    position: absolute;
    top: 9px;
    left: 0;
}
.cont1-left>ul>li:nth-child(1){
    top: 0;
    left: 0;
}
.cont1-left>ul>li:nth-child(2){
    top: 0;
    left: 33.3%;
}
.cont1-left>ul>li:nth-child(3){
    top: 0;
    right: 0;
}
.cont1-left>ul>li:nth-child(4){
    top: 475px;
    left: 0;
}
.cont1-left>ul>li:nth-child(5){
    top: 350px;
    left: 33.3%;
}
.cont1-left>ul>li:nth-child(6){
    top: 350px;
    right: 0;
}
.hovercat{
    width: auto;
    height: auto;
    position: absolute;
    top: -40px;
    right: 0;
}
.cont1-left-btn{
    width: 117px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #3a466a;
    color: #3a466a;
    text-align: center;
    line-height: 2rem;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.cont1-right{
    width: 260px;
    border: 0px solid rgb(255, 174, 0);
    float: right;
    background-color: #C8E2E0;
    position: relative;
}
.extra-img img{
    transform: translateY(40px);
}
.cont1-right h3{
    color: #00a5b1;
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px 20px 80px 30px;
    line-height: 1.38rem;
    font-size: 1rem;
    text-align: start;
}
.cont1-right>ul>li{
    padding: 0 20px;
    text-align: center;
    margin-bottom: 40px;
}
.cont1-right-text{
    padding: 20px 0;
    box-sizing: border-box;
    letter-spacing: -0.05rem;/*추가*/
}
.cont1-right-text h4{
    font-size: 1rem;
    font-weight: 00;
    color: #000;
    margin-bottom: 16px;
}
.cont1-right-text h5{
    font-size: 0.875rem;
    color: #222;
    font-weight: 500;
    line-height: 1.43rem;
}
.cont1-r-btn{
    display: inline-block;
    width: 117px;
    height: 29px;
    line-height: 29px;
    background: #00A5B1;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 0.75rem;  
}
/* section2 */
#cont2{
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}
.cont2-wrap{
    width: 1200px;
    height: 1318px;
    margin: 0 auto;
    position: relative;
}
.cont2-wrap>div:first-child{
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.cont2-wrap>article{
    width: 50%;
    position: absolute;
    top: 242px;
    left: 0;
}
.cont2-cat-text{
    width: 50%;
    height: 476px;
    background-color: #fff;
    text-align: center;
}
.cont2-cat-text>img{
    width: 118px;
    position: absolute; 
    left: 25%;
    transform: translateX(-50%);
    margin-top: 110px;
}
.cont2-cat-text>h5{
    color: #3a476a;
    font-size: 0.875rem;
    line-height: 1.4rem;
    font-weight: 500;
    padding-top: 300px;
}
.cont2-cat-img{
    width: 50%;
    height: 476px;
    position: absolute;
    right: 0;
    top: 0;
}
.cont2-wrap>div:nth-child(3){
    width: 50%;
    height: 617px;
    position: absolute;
    right: 0;
}
.cont2-wrap>div:nth-child(4){
    width: 50%;
    position: absolute;
    left: 0;   
    bottom: 0;
}
.cont2-wrap>div:nth-child(5){
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
#cont2::before{
    content: '';
    width: 1280px;
    height: 600px;
    background-color: #e8eaf0;
    position: absolute;
    left: 0;
    bottom: 0;
}
#cont2::after{
    content: '';
    width: 1280px;
    height: 430px;
    background-color: #e8eaf0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/* footer*/
footer{
    width: 100%;
    margin: 70px auto;
}
.foot-top{
    border-bottom: 3px solid #3a466a;
}
.foot-menu{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}
.foot-menu ul{
    display: inline-block;
}
.foot-menu ul li{
    float: left;
    padding-right: 15px;
    font-size: 0.875rem;
    font-weight: 700;
    color: #3a466a;
    cursor: pointer;
}
.foot-menu ul li:nth-child(5){
    color: #00a6b1;
}
.foot-menu ul div{
    position: absolute;
    right: 0;
}
.foot-bottom{
    width: 1200px;
    margin: 30px auto;
    position: relative;
}
.foot-bottom div{
    display: inline-block;
}
.foot-logo{
    float: left;
}
.foot-info{
    width: 600px;
}
.foot-info dl{
    margin: 0 60px;
    font-size: 0.75rem;
    font-weight: 500;
    clear: both;
}
.foot-info dt, .foot-info dd{
    float: left;
    margin-bottom: 4px;
    padding-right: 10px;
}
.foot-info p{
    margin: 50px 0 0 60px;
    color: #b8b8b8;
    font-size: 0.75rem;
}
.foot-sns a{
    display: inline-block;
    margin-left: 5px;
}
.foot-sns{
    position: absolute;
    right: 0;
}
/* static-contents */
.static-contents{
    position: fixed;
    top: 160px;
    right: 50%;
    margin-right: -703px;
    z-index: 999;
    width: 83px;
    height: 250px;
}
.aside>img:nth-child(1),.aside>img:nth-child(2){
    width: 40px;
    margin: 8px auto;
}
.aside>img:nth-child(3){
    margin-top: 25px;
}